body{
    background-color: hsl(0, 0%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.all{
    display: flex;
    flex-direction:row;
    height: 450px;
    width: 800px;
    background-color: hsl(0, 0%, 81%);
}
.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}
.right{
    width: 200px;
}

.item{
    width: 140px;
    font-size: 10px;
    padding:10px 20px 5px;
    color: white;
    border-radius: 9px;
    display: block;
    height: 190px;
    margin: 7px;

}
.bg:first-of-type{
    background-color: hsl(263, 55%, 52%);
}
.bg:last-of-type{
    background-color: black;
}
.bg{
    width: 350px;
    
}
.one{
    background-color:gray;
}
.sm{
    background-color: white;
    color :black;
}
.sm , .bg:last-of-type {
    height: 185px;
}

.lg{
    position: relative;
    background-color: white;
    left: 10px;
    color: black;
    width: 150px;
    margin-left: 0px;
    padding: 10px;
    padding-bottom: 0px;
    line-height: 1.33em;
    height: 92.5%;
    
}
.info{
    display: flex;
    align-items: center;
}
img{
    width: auto;
    margin-right: 15px;
    height: 30px;
    border-radius: 50%;
}
.des{
    color:  hsl(0, 0%, 81%)
    ;
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    font-size: larger;
}
 .kr ,  .jnt {
    color: black;
}
h3{
    font-size: 14px;
}
@media screen and (max-width:375px) {
    body{
        flex-direction: column ;
        width: 375px;
        justify-content: baseline;
        margin: auto;
        height: auto;
    }    
    .all{
        flex-direction: column;
        height: auto;
        border: 1px solid black;
        width: 360px;
    }
    .left{
        flex-direction: column;
        width: 80%;
        border: 1px solid  red;
        margin: auto;
        height: auto;
    }
    .right{
        width: 80%;
        border: 1px solid green;
        margin: auto;
    }
    .item{
        font-size: 10px;
        margin: auto;
        margin-bottom:15px ;
        padding-bottom: 18px;
        height: auto;
        width: auto;
    }
    .lg{
        left: 0px;
    }
    h3{
        font-size: 11px;
    }
}